*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.about_me{
    background-color: rgba(127, 255, 212, 0.432);
    padding: 2rem;

}
.about_me > ul > li, .about_me > div > ul >li{
        list-style: none;
}
.experience{
    border-top: black solid 0.1rem;
    background-color: rgba(135, 207, 235, 0.466);
    padding: 2rem; 
}
.projects{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    background-color: rgba(135, 207, 235, 0.466);
}
.projects > div{
   margin: 1rem;
}
img{
 height: 12rem;
    width: 20rem;
    border-radius: 1rem;
}
#pro{
border-top: black solid 0.1rem;
    background-color: rgba(135, 207, 235, 0.466);
}
a{
    text-decoration: none;
    font-style: italic;
    font-size: medium;
    color: green;
}
.certificates{
    border-top: black solid 0.1rem;
     background-color: rgba(127, 255, 212, 0.432);
    padding: 2rem;
   
}
.lan{
    padding-left: 1rem;
    padding-top: 1rem;
    font-weight: bolder;
}
#skill_head{
    padding: 0.7rem;
}
.skills{
  border-top: black solid 0.1rem;
  display: flex;
    background-color: rgba(135, 207, 235, 0.466);
}
#sk{
    padding: 0.5rem;
    font-style: italic;
    font-weight: 100;
}
#soft{
    margin: 3.9rem;
}
.badge{
    padding: 0.5rem;
    font-style: oblique;
}
.education{
    border-top: black solid 0.1rem;
background-color: rgba(135, 168, 235, 0.466);
    padding: 2rem;
}
.education > h1, .experience > h1, #pro, .education > h1{
    padding: 0.5rem;
}
.contact{
    border-top: black solid 0.1rem;
background-color: rgba(135, 168, 235, 0.466);
    padding: 2rem; 
  
}
.contact-details{
    text-decoration: none;
}