*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.about_me{
   background-color: rgba(241, 245, 249, 1);
    padding: 2rem;

}
.about_me > ul > li, .about_me > div > ul >li{
        list-style: none;
}
.experience{
    border-top: #e2e8f0 solid 0.1rem;
    background-color: rgba(248, 250, 252, 1);
    padding: 2rem; 
}
.projects{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  background-color: rgba(248, 250, 252, 1);
}
.projects > div{
   margin: 1rem;
}
img{
 height: 12rem;
    width: 20rem;
    border-radius: 1rem;
}
#pro{
border-top: #e2e8f0 solid 0.1rem;
    background-color: rgba(248, 250, 252, 1);
}
a{
    text-decoration: none;
    font-style: italic;
    font-size: medium;
    color: #2563eb;
}
.certificates{
  border-top: #e2e8f0 solid 0.1rem;
    background-color: rgba(241, 245, 249, 1);
    padding: 2rem;
   
}
.lan{
    padding-left: 0.5rem;
    font-weight: bolder;
}
#skill_head{
    padding: 0.7rem;
}
.skills{
 border-top: #e2e8f0 solid 0.1rem;
  display: flex;
    background-color: rgba(248, 250, 252, 1);
}
#sk{
    padding: 0.5rem;
    font-style: italic;
    font-weight: 100;
}
#soft{
    margin: 3.9rem;
}
.badge{
    padding: 0.5rem;
    font-style: oblique;
}
.education{
 border-top: #e2e8f0 solid 0.1rem;
    background-color: rgba(238, 242, 255, 1);
    padding: 2rem;
}
.education > h1, .experience > h1, #pro, .education > h1{
    padding: 0.5rem;
}
.contact{
   border-top: #e2e8f0 solid 0.1rem;
    background-color: rgba(238, 242, 255, 1);
    padding: 2rem; 
  
}
.contact-details{
    text-decoration: none;
}